.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #222;
    color: #fff;
    padding: 1.2rem 1.2rem;
    font-size: 1.3rem;
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
    width: 99%;
    margin-left: 5;
}
.navbar-left {
    display: flex;
    align-items: center;
}
.navbar-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 1rem;
    letter-spacing: 1px;
}
.navbar-toggle {
    background: none;
    border: none;
    color: #fff;
    font-size: 2.2rem;
    cursor: pointer;
    padding: 0.3rem 0.7rem;
}
.navbar-right {
    display: flex;
    align-items: center;
    gap: 1.2rem;
}
.navbar-icon {
    background: none;
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.3rem 0.7rem;
}
.navbar-bottom {
    position: fixed;
    align-self: center;
    bottom: 5px;;
    width: 99%;
    display: flex;
    align-items: center;
    padding: 0.7rem 0;
    justify-content: space-around;
    border-radius: 12px;
}
.division {
    padding: 2rem;
    padding-bottom: 5rem; /* Prevents content from being hidden behind navbar-bottom */
    margin-left: auto;
    margin-right: auto;
}
.analytics-card {
    background: #f8f9fa;
    border-radius: 12px;
    padding: 2rem;
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.statistic {
    font-size: 3rem;
    font-weight: bold;
    color: #007bff;
}
.heading {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

img {
    border-radius: 12px;
    max-width: 100%;
    height: 40px;
    object-fit: cover;
}
.issue {
    border: #007bff 2px solid;
    border-radius: 12px;
    padding: 1rem;
    margin-bottom: 2rem;
}